* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	display: block;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

[onclick], a {
	cursor: pointer;
}


